<!doctype html>
<html>
  <head>
    <title>GAS</title>
    <body>
      <h1>No meat No life</h1>
      <!-- メインコンテンツ -->
    </body>
  </head>
</html>
<style>
body{
  text-align: center;
  background-color: rgb(240,234,206);
  background-image: url("https://pbs.twimg.com/profile_banners/1042783905697288193/1575045561/1500x500");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
h1 {
  display: inline-block;
  font-size: 7em;
  border-bottom: 10px double red;
}
</style>
